<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <h2><%- page_name %></h2>
    <% if (typeof owner !== 'undefined') { %>
        <div>
            <table>
                <tr>
                    <th>Owner</th><th>Total Points</th>
                </tr>
                <tr>
                    <td><%= owner.owner %></td>
                    <td><%= owner.totalPoints %></td>
                </tr>
            </table>
        </div>

        <div>
            <table>
                <tr>
                    <th>Team</th><th>Wins</th><th>Tie</th><th>Loss</th><th>Points</th>
                </tr>
                <% owner.teams.forEach(team => { %>
                    <tr>
                        <td>
                            <a href="/team-standings/<%= team.teamAbv %>">
                            <img src="<%- team.espnLogo1 %>" alt="<%= team.teamCity + " " + team.teamName %> ESPN Logo" style="width: 30px;">
                            <%= team.teamCity + " " + team.teamName %>
                            </a>
                        </td>
                        <td><%= team.wins %></td>
                        <td><%= team.tie %></td>
                        <td><%= team.loss %></td>
                        <td><%= team.points %></td>
                        <td><%= team.owner %></td>
                    </tr>
                <% }) %>
            </table>
        </div>
    <% } else { %>
        <p>There is no team data to display.</p>
    <% } %>

    <%- include('./partials/footer.ejs') %>
</body>
</html>